:root {
    --color_primary: hsl(172, 67%, 45%);
    --color-button: hsl(183, 100%, 15%);
    --color-text: hsl(183, 100%, 15%);
    --color-text-label: hsl(186, 14%, 43%);
    --color-icon: hsl(184, 14%, 56%);
    --color-bg: hsl(185, 41%, 84%);
    --color-bg-input: hsl(189, 41%, 97%);
    --color-bg-container: hsl(0, 0%, 100%);
    --color-error: red;
    --color-validation: green;
    --letter-spacing: 1rem;
    --border-radius-large: 25px;
    --border-radius-small: 5px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Space Mono';
    font-size: 24px;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 24px;
    letter-spacing: var(--letter-spacing);
    margin-right: calc(-1 * var(--letter-spacing));
    overflow-wrap: break-word;
    text-transform: uppercase;
    width: 8rem;
}

.calculator {
    background-color: var(--color-bg-container);
    border-radius: var(--border-radius-large);
    padding: 32px;
}

.input_label, legend {
    display: block;
    font-size: 16px;
}

input:focus, button:focus {
    outline: 3px solid orange;
}

input[type="number"] {
    -moz-appearance: textfield;
    background-color: var(--color-bg-input);
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    border: none;
    border-radius: var(--border-radius-small);
    color: var(--color-text);
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    height: 48px;
    text-align: right;
    width: 100%;
    padding: 6px 18px;
    margin-bottom: 32px;
}

label+input[type="number"], legend+label {
    margin-top: 6px;
}

#bill {
    background-image: url(./images/icon-dollar.svg);
}

#pax {
    background-image: url(./images/icon-person.svg);
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 32px;
}

.radio {
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
}

.radio__input input:checked+.radio__control {
    background-color: var(--color_primary);
}

.radio__input input:focus+.radio__control {
    outline: 3px solid orange;
}

.radio__control {
    background-color: var(--color-button);
    display: inline-block;
    width: 50%;
    height: 50px;
    margin-left: -30px;
    border-radius: var(--border-radius-small);
}

.radio:focus-within .radio__label {
    color: var(--color-text);
}

.radio__label {
    position: absolute;
    top: 12%;
    left: 35%;
    color: white;
}

.result {
    background-color: var(--color-text);
    border-radius: var(--border-radius-large);
    color: var(--color-bg-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
}

.result_amount {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.result_amount_title {
    font-weight: 700;
}

.result_amount_title_small {
    display: block;
    font-size: 13px;
    color: var(--color-icon);
    font-weight: 400;
    ;
}

.result_amount_total {
    font-size: 32px;
    font-weight: 700;
    color: var(--color_primary);
}

.reset {
    background-color: var(--color_primary);
    border-radius: var(--border-radius-small);
    border: none;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 700;
    padding: 9px 0;
    text-transform: uppercase;
    width: 100%;
}